
Library/*

ProjectSettings/*

Assets/SublimeSocketAsset/Preferences.txt

Assets/SublimeSocketAsset/StaticCompletionCache.cache

Assets/SublimeSocketAsset/Preferences.txt.meta

Assets/SublimeSocketAsset/StaticCompletionCache.cache.meta

Assets/SublimeSocketAsset/CompileTriggerFile/trigger.cs

Assets/SublimeSocketAsset/CompileTriggerFile/trigger.cs.meta

Assets/SublimeSocketAsset/CompileTriggerFile.meta
